<div class="about row">
    <div class="col-md-12">
       <h2>Introduce</h2>
        <br/>
        <p>2016年，开始人生第一次编程。</p>
        <p>2017-2019年，来到北京，做过外包，去过私企，去过外企，现在到了国企。</p>
        <p>2020年，开始重新搭建我的博客，并规划未来几年的努力方向。</p>
        <p>我喜欢一个人默默发呆，也喜欢静静的看书，也喜欢和朋友们聚聚。</p>
        <p>我希望有一天可以赚很多的钱，去干更多有趣的事情或者有意义的事情。</p>
        <p>这就是我，不一样的烟火！</p>

        <p>
          <strong>个人微博</strong>：<a href="https://weibo.com/7128944478" target="_blank">有趣的灵魂300公斤</a>，“分享日常生活，喜笑颜开”欢迎关注
        </p>

        <h2>Contact</h2>

        <p><strong>Personal</strong></p>
        <ul>
            <li>Email：<a href="mailto:{{ site.email }}" target="_top">{{ site.email }}</a></li>
            <li>我的微信：<strong>lu47901673</strong>（备注：博客）</li>
        </ul>

        <!-- Comments -->
       <div class="comment">
         {% include comments.html %}
       </div> 

    </div>
</div>